.event-widget-container,
.sightseeing-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    margin-top: 5%;
    margin-left: 5%;
}

.event-widget {
    width: 90%;
    max-width: 100%;
    margin-bottom: 55%;
    height: 41vw;
    /* overflow-y: auto;
    overflow-x: hidden; */
    /* border: 1px solid #ddd; */
    /* border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    /* background-color: #f9f9f9; */
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.event-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.event-content {
    padding: 16px;
}

.event-date {
    font-size: 12px;
    color: #888;
    margin-bottom: 8px;
}

.event-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px;
}

.event-location {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
}

.event-loc-name,
.event-loc {
    display: flex;
    align-items: center;
    gap: 4px;
}

.event-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: #f0f0f0;
    color: #888;
    font-size: 14px;
    font-style: italic;
}

.no-events {
    text-align: center;
    color: #555;
    font-size: 18px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.event-detail {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    text-decoration: underline;
}

.event-detail:hover {
    color: #0056b3;
    text-decoration: underline; 
}

.add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
    background-color: #f9f9f9;
    color: #000000;
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.event-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease-in-out;
}

.event-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* flight search */
.flights-form {
    margin: 2% auto;
    margin-bottom: -2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 300px;
}

label {
    font-size: 15px;
    white-space: nowrap;
    margin-top: 0;
    margin-right: 2px;
    width: 30%;
    text-align: right;
}

.input-container, .select-container {
    position: relative;
    width: 100%;
}

select, input {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    border-radius: 8px;
    height: 35px;
    width: 100%;
    padding-left: 35px;
    appearance: none;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: black;
}

/* Flights display */
.flights-widget-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
}

.flights-widget {
    width: 90%;
    max-width: 100%;
    margin-top: -20%;
    height: 50vh;
    padding: 10px;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.flights-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-items: start;
}

.flight-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 15px;
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
    gap: 15px;
}

.flight-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.flight-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.flight-logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.flight-carrier-name {
    font-size: 1.1em;
    font-weight: 600;
}

.flight-price {
    font-size: 1.2em;
    margin-top: 18px;
    color: #333;
}

.flight-segment {
    margin-top: 20px;
}

.flight-leg {
    margin-bottom: 12px;
}

.leg-info {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #f1f1f1;
}

.leg-origin-destination {
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.leg-times {
    font-size: 1.1em;
    color: #666;
    font-weight: lighter;
    margin-top: 5px;
}

.leg-dates {
    font-size: 0.8em;
    color: rgb(134, 133, 133);
    font-weight: lighter; 
}

.layover-info {
    font-size: 0.95em;
    color: rgb(134, 133, 133);
    font-weight: lighter; 
}

.itinerary-tag {
    font-size: 0.9em;
    color: #2c3e50;
    font-weight: bold;
    background-color: #f0f8ff;
    padding: 3px 10px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 12px;
}

.arrive-next-day {
    font-size: 0.7em;
    color: #e74c3c;
    font-weight: bold;
    padding: 2px;
    background-color: #f2d7d5;
    border-radius: 8px;
    text-align: center;
    margin-left: 4px;
    padding: 3px 8px;
}

.flight-booking-link {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    text-decoration: underline;
}

.flight-booking-link:hover {
    color: #0056b3;
    text-decoration: underline; 
}

.no-flights {
    text-align: center;
    color: #555;
    font-size: 18px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

/* budget options */
.budget-options-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.budget-options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.budget-option-btn {
    background: lightgray;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.budget-option-btn:hover {
    box-shadow: 2px 2px 5px rgba(185, 185, 185, 0.4), 
                -2px -2px 5px rgba(255, 255, 255, 0.8);
}

.budget-option-btn.selected {
    background: rgb(119, 118, 118);
    color: white;
    box-shadow: 4px 4px 8px rgba(185, 185, 185, 0.4), 
                -4px -4px 8px rgba(255, 255, 255, 0.8);
}
