.expense-table-container {
    width: 90%;
    margin: 0 auto;
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.edit-form-style{
    max-width: 32% !important;
    max-height: 300vh;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 100%;
}

.edit-form-close {
    position: relative;
    left: -46%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    
}

.expense-table th {
    text-align: center;
    padding: auto;
    position: sticky;
    top: 0;
    background-color: #134a09 !important;
    color: white !important;
    z-index: 1;
    font-size: 18px;
}

.expense-table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-color: #134a09;
}

.expense-table td:nth-child(2) {
    text-align: center;
}

.expense-table td:nth-child(3),
.expense-table td:nth-child(4),
.expense-table td:nth-child(5),
.expense-table td:nth-child(7) {
    text-align: center;
}