.expense-table-container {
    width: 90%;
    margin: 0 auto;
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.expense-table th {
    text-align: center;
    padding: auto;
    position: sticky;
    top: 0;
    background-color: #134a09 !important;
    color: white !important;
    z-index: 1000;
    font-size: 18px;
}

.expense-table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-color: #134a09;
}

.expense-table td:nth-child(2) {
    text-align: center;
}

.expense-table td:nth-child(3),
.expense-table td:nth-child(4),
.expense-table td:nth-child(5),
.expense-table td:nth-child(7) {
    text-align: center;
}

@media (max-width: 600px) {
    /* Trip pg: expense table size */
    .expense-table-container {
        width: 100%;
    }

    /* Trip pg: expense table col title size */
    .expense-table th {
        font-size: 14px;
    }

    /* Trip pg: expense table content siZe */
    .expense-table {
        font-size: 12px; 
        table-layout: fixed; 
        width: 100%;
    }

    /* Trip pg: expense table content position */
    .expense-table th, 
    .expense-table td {
        padding: 5px;
        white-space: normal;
        word-wrap: break-word;
    }

    .expense-table td:nth-child(4){
        font-size: 2.5px;
    }
}

.receipt-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.receipt-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
}

.close-modal-button {
    position: absolute;
    top: -4px;
    left: 5px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    color: gray;
}

.receipt-image {
    width: 100%;
    height: auto;
}