/* Homepage.css */
.dashboard {
    width: 100%;
    font-family: Arial, sans-serif;
}

.welcome-section {
    text-align: left;
    padding: 20px;
    background-color: #FFFFFF;
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.recent-trips {
    padding: 10px;
    background-color:var(--darkgreen);;
    color: white;
    height: auto; 
    text-align: center;
}

.trip {
    margin-bottom: 10px;
    border: 1px solid white;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); 
    width: 80%;
    margin: 0 auto;
}

.logout {
    background-color: var(--lightgreen);
    color: white;
    border: none; 
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.logout:hover{
    background-color: var(--lightgreen);
    transition: 0.2s;
}

.create-trip {
    background-color: var(--lightgreen);
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden; 
}

.create-trip:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 50%;
    right: -40px;
    transform: translateY(-50%); 
    transition: 0.2s ease-in-out;
    font-size: 30px;
    color: white;
}

.create-trip:hover {
    color: transparent; /* hide text */
    padding-right: 20px;
}

.create-trip:hover:after {
    opacity: 1;
    right: 50%; 
    transform: translate(50%, -50%);
}

/* model and form are in global */
.modal-content {
    max-height: 80vh;
    overflow-y: auto; 
    padding: 20px; 
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px; 
}

.new-trip-title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

/* container holding each label and field */
.new-trip-field-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

.new-trip-field-label input {
    padding: 8px; 
    margin-top: 5px; 
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: black; 
    font-size: 15px; 
    transition: border-color 0.3s ease;
    width: 100%; 
    color: white;
    filter: invert(1);
}

/* the date input fields */
.new-trip-field-label input[type="date"] {
    cursor: pointer;
}

/* animation for the create trip button */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.submit-new-trip-button { 
    padding: 8px; 
    background-color:var(--lightgreen);
    color: white;
    border: none;
    width: 40%; /* Width of the button */
    border-radius: 10px;
    font-size: 15px; 
    cursor: pointer;
    align-self: center;
}

.dropdown-suggestion {
    color: black;
    background-color: white;
    padding: 8px;
    cursor: pointer;
}

.dropdown-suggestion:hover {
    background-color: rgb(8, 148, 8);
}

.selected-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.location-text {
    color: black;
    font-weight: bold;
}

.marker-tooltip {
    position: absolute;
    color: black;
    background-color: white;
    padding: 8px 12px; 
    border-radius: 8px; 
    pointer-events: none;
    opacity: 0;

    transition: opacity 0.3s, transform 0.3s ease-out;
    z-index: 1000;
    font-size: 14px; 
    font-weight: 500; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); 
    transform: translateY(-10px); 
}

.map-container {
    height: 400px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    pointer-events: none; 
}

.map-container.active {
    pointer-events: all; 
}

.dropdown {
    position: absolute; 
    right: 0; 
    background-color: transparent; 
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: var(--lightgreen);
    ;
}

.dropdown-item:hover {
    background-color: #13874d95; 
}

.profile-container {
    position: absolute;
    top: 90px;
    right: 15px;
}

.profile-icon {
    width: 40px; 
    height: 40px; 
    cursor: pointer;
    border-radius: 50%;
}

@keyframes pop {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.09); }
}

.shake {
    animation: pop 0.4s;
}

