/* Ensure loading-container takes up the full height of the viewport */
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    min-height: 200px;
    overflow: 'hidden';
  }
  
  .loading-logo {
    width: 150px; 
    height: auto;
    margin-bottom: 20px; 
  }
  
  .loading-spinner {
    border: 4px solid var(--lightgreen);
    border-top: 4px solid var(--lightergreen);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-text {
    font-size: 18px;
    color: var(--lightgreen);
  }
  