.nav-link.active {
    font-weight: bold;
    color: white !important;
}

.nav-link {
    margin-right: 10px;
    position: relative;
    padding: 5px 10px;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1000;
    max-width: 60%;
}

.nav-link:hover {
    background-color: var(--lightergreen);
    color: white;
}

.nav-link.active {
    background-color: var(--lightergreen);
    color: white;
}


@media (max-width: 600px) {
    /* Trip pg: nar bar position */
    .navbar {
        left: -5%;
    }

    [style*="right: 45px"] {
        right: 20px !important;
    }
}
