.recent-trips-container {
    flex: 1;
    background-color: var(--lightgreen);
    padding: 20px;
    border-radius: 10px;
}

.recent-trips-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.trip-card {
    display: flex;
    align-items: center;
    background-color: black;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--lightergreen);
}

.trip-image-wrapper {
    width: 240px; /* Set the desired width */
    height: 120px; /* Set the desired height */
    margin-right: 10px; /* Space between image and text */
    overflow: hidden; /* Ensure anything overflowing is hidden */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    border-radius: 8px; 
}

.trip-image-wrapper img {
    max-width: 100%; /* Ensure image does not exceed wrapper width */
    max-height: 100%; /* Ensure image does not exceed wrapper height */
    object-fit: contain; /* Maintain aspect ratio and fit within the frame */
}


