.receipt-upload-container {
    display: flex;
    align-items: flex-start;
}

.receipt-upload-button,
.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: none;
}

.receipt-upload-button {
    height: 30px;
    width: 30px;
}

.size-6 {
    width: 30px;
    height: 30px;
    color: black;
}

.receipt-upload-form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 320px;
    margin: 0 auto;
}

.receipt-upload-form.hidden {
    display: none;
}

.receipt-upload-title {
    text-align: center;
    margin-bottom: 20px;
}

.receipt-upload-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 320px;
}

.receipt-preview-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.receipt-preview-image {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.icon-buttons-container {
    display: flex;
    gap: 10px; /* Space between icons */
    margin-top: 10px;
}
