.recent-trips-container {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: black;
    text-align: center;
    max-width: fit-content;
}

.recent-trips-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.trip-card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--lightergreen);
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 450px; 
}
.recent-trip-dates {
    font-size: 17px;
}

.trip-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-align: left;
    margin-left: 3%;
}

.trip-info h3 {
    margin: 0 0 5px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.trip-info .recent-trip-dates {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

@media(max-width: 600px){
    /* Home pg: Recent trips title postion */
    .recent-trips-container {
        float: left;
        margin-top: 20%;
        margin-left: -10%;
    }

    /* Home pg: Recent trips cards size */
    .trip-card {
        width: 400px; 
    }
}

@media(max-width: 430px){
    /* Home pg: Recent trips title postion */
    .recent-trips-container {
        margin-top: 8%;
    }
    
    /* Home pg: Recent trips cards size */
    .trip-card {
        width: 350px; 
    } 
}