/* all shared users */
.whole_container{
    position: absolute;
    top: 150px;
    right: 5.5%;
}

.shared-users {
    position: absolute;
    right: 0px;
    display: flex;
    gap: 5px; 
    padding: 5px;
    border-radius: 8px;
    flex-wrap: wrap;
}

.shared-with-message {
    position: relative; 
    margin-right: 10px; 
    margin-bottom: 5px;
}

/* one shared user */
.shared-user {
    border-radius: 50%;          
    overflow: hidden;             
    width: 40px;                  
    height: 40px;               
    display: flex;                
    justify-content: center;       
    align-items: center;           
}

/* image inside the box*/
.shared-user-image {
    width: 100%;               
    height: auto;
}

.popup {
    position: absolute;
    top: 45px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px; 
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    white-space: nowrap; 
    font-size: 14px;
}

.show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}

.show-more-icon {
    background-color: gray;
    color: white;
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; 
    font-weight: bold;
}


@media (max-width: 600px) {
    /* Trip pg: shared user icon position */
    .whole_container{
        top: 137px;
        right: 4%;
    }

    /* Trip pg: shared user icon and text spacing */
    .shared-with-message {
        margin-bottom: 0px;
    }

    /* Trip pg: shared user icon size */
    .shared-user {       
        width: 35px;                  
        height: 35px;                         
    }
}

@media (min-width: 1600px){
    /* Trip pg: shared user icon position */
    .whole_container{
        right: 10%;
    }
}

@media (min-width: 2000px){
    /* Trip pg: shared user icon position */
    .whole_container{
        top: 1.5%;
        right: 16%;
    }
}

@media (min-width: 2600px){
    /* Trip pg: shared user icon position */
    .whole_container{
        top: 1.5%;
        right: 25%;
    }
}