/* singletrip.css */
.field-pair {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.half-width {
    flex: 1;
}

.new-expense-field-label input,
.new-expense-field-label select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    font-size: 15px;
    transition: border-color 0.3s ease;
}

.new-expense-field-label input,
.new-expense-field-label select,
.new-expense-field-label input[type="date"] {
    box-sizing: border-box;
    height: 40px;
}

.create-expense {
    background-color: #134a09;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden;
    margin-left: 3vh;
    margin-right: 3vh;
}

.create-expense:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;
    font-size: 30px;
    color: white;
}

.create-expense:hover {
    color: transparent;
    /* hide text */
    padding-right: 20px;
}

.create-expense:hover:after {
    opacity: 1;
    right: 50%;
    transform: translate(50%, -50%);
}

.modal-content {
    max-width: 35% !important;
    max-height: 300vh;
    overflow-x: auto;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 100%;
}

.new-expense-modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

@media (max-width: 805px) {
    .modal-content {
        max-width: 70% !important;
    }
}

@media (max-width: 1150px) {
    .modal-content {
        max-width: 50% !important;
    }
}

@media (max-width: 700px) {
    .modal-content {
        max-width: 73% !important;
    }
}

@media (max-width: 420px) {
    .modal-content {
        max-width: 80% !important;
    }
}

@media (max-width: 390px) {
    .modal-content {
        max-width: 87% !important;
    }
}

.new-expense-title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}

.new-expense-field-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

.new-expense-field-label input[type="date"] {
    cursor: pointer;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.submit-new-expense-button {
    /* padding: 8px;
    width: 40%; */
    padding: 15px 30px;
    background-color: var(--lightgreen);
    color: white;
    border: none;
    width: fit-content;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
}

.edit-expense-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.4px);
}

.edit-expense-modal-content {
    position: relative;
    max-width: 40% !important;
    max-height: 80vh;
    width: 90%;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(159, 154, 154, 0.1);
    overflow-x: auto;
    overflow-y: auto;
    margin: 10px;
    text-align: center;
}

.edit-expense-title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.edit-expense-field-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

.edit-expense-field-label input[type="date"] {
    cursor: pointer;
}

.edit-expense-field-label input,
.edit-expense-field-label select {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    font-size: 15px;
    transition: border-color 0.3s ease;
    height: 40px;
}

.edit-expense-field-label input[type="date"] {
    box-sizing: border-box;
}

.field-pair label {
    flex: 1;
}

.submit-edit-expense-button {
    /* padding: 8px;
    width: 90%; */
    padding: 15px 30px;
    background-color: var(--lightgreen);
    color: white;
    border: none;
    width: 50%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
}

.delete-expense-button {
    /* padding: 8px;
    width: 90%; */
    padding: 15px 30px;
    background-color: #8B0000;
    color: white;
    border: none;
    width: 50%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
}

.highlighted-date {
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 5px;
}

.highlighted-date {
    background-color: var(--lightgreen) !important;
    color: white !important;
}

.calendar-container {
    width: 100%;
    margin: auto;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .calendar-container {
        margin-top: 60px;
        margin-bottom: 20px;
        padding: 0 15px;
    }
}

@media (max-width: 480px) {
    .calendar-container {
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 0 20px;
    }
}


.react-calendar__tile--active {
    background-color: var(--lightgreen) !important;
}

.react-calendar__navigation button:hover {
    background-color: var(--lightgreen);

}

.react-calendar {
    width: 100% !important;
    height: 100% !important;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.react-calendar__tile {
    box-shadow: none;
    transition: none;
    border-radius: 6px;
    padding: 10px !important;
    font-size: 1em !important;
    font-weight: bold !important;
}

.react-calendar__tile--active {
    background-color: var(--lightgreen) !important;
    box-shadow: none;
}

.react-calendar__navigation {
    background-color: white;
    border: none;
}

.react-calendar__navigation button {
    color: black;
    box-shadow: none;
    background: none;
    border-radius: 10px;
}

.react-calendar__month-view__header {
    box-shadow: none;
    background-color: white;
    color: black;
    border-radius: 8px;
    font-size: 1.2em;
}

.react-calendar__tile {
    color: black;
    border-radius: 5px;
}

.tile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.date-number {
    font-weight: bold;
    font-size: 1.2em;
}

.expense-amount {
    font-size: 0.9em;
    /* color: rgb(243, 133, 133);  */
}

.cal-below-budget {
    color: var(--lightergreen);
}

.cal-above-budget {
    color: rgb(243, 133, 133);
}

#tripName {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meter-container {
    /* border: 2px solid black; */
    width: 100%;
    max-width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.MuiChartsLegend-root {
    font-size: 8px;
    margin-bottom: 5px;
}

.MuiChartsLegend-root .MuiChartsLegend-label {
    font-size: 8px;
}

.MuiChartsLegend-root .MuiChartsLegend-row {
    font-size: 8px;
}

#budgetTitle {
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}

#budget-text {
    margin-top: 0;
}

#expenseTitle {
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}

.filter-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.filter-popup-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.filter-popup-close {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.filter-popup-close:hover {
    color: black;
}

.filter-popup-title {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.filter-option-button {
    background-color: var(--lightgreen);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.filter-option-button:hover {
    background-color: var(--lightergreen);
    color: white;
}

.applied-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightgreen);
    color: white;
    padding: 0px 10px;
    border-radius: 5px;
    white-space: nowrap;
    width: 170px;
}


.clear-filter-btn {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 16px;
}

.filter-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-expense {
    background-color: var(--lightgreen);
    position: relative;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden;
    box-shadow: none;
    display: inline-block;
    margin: 0 auto;
}

.edit-expense:after {
    content: '-';
    position: absolute;
    opacity: 0;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;
    font-size: 30px;
    color: white;
}

.edit-expense:hover {
    color: transparent;
    /* hide text */
    padding-right: 10px;
}

.edit-expense:hover:after {
    opacity: 1;
    right: 50%;
    transform: translate(50%, -50%);
}

.pie-chart-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    float: right;
    top: 0;
}


.exchange-rates-container {
    /* width:30%; */
    max-width: 600px;
    overflow: hidden;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
    float: right;
}


.exchange-rates-container .exchange-rates-table {
    width: 100%;
    border-collapse: collapse;
}


.exchange-rates-container .exchange-rates-table th {
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid gray;
}

.exchange-rates-container .exchange-rates-table td {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    border: 1px solid gray;
}

.exchange-rates-container .exchange-rates-table tr:first-child td {
    font-weight: bold;
}

.exchange-rates-container .exchange-rates-table th:first-child,
.exchange-rates-container .exchange-rates-table td:first-child {
    border-left: none;
}

.exchange-rates-container .exchange-rates-table th:last-child,
.exchange-rates-container .exchange-rates-table td:last-child {
    border-right: none;
}

.exchange-rates-container .exchange-rates-table th:first-child {
    border-top-left-radius: 10px;
}

.exchange-rates-container .exchange-rates-table th:last-child {
    border-top-right-radius: 10px;
}

.exchange-rates-container .exchange-rates-table td:first-child:last-child {
    border-bottom-left-radius: 10px;
}

.exchange-rates-container .exchange-rates-table td:last-child:last-child {
    border-bottom-right-radius: 10px;
}

.error {
    color: red;
}

.success {
    color: var(--lightgreen);
}

/* Icon bar styling */
.top-icon-bar-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    /* margin: 30px auto; Center the icon bar */
    max-width: 500px;
    margin: 50px 10px 0px 0px;
}

.icon-bar-header {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
    /* Adjust spacing as needed */
    background-color: white;
    /* Optional background color */
    margin: 0 auto;
    /* Center the icon bar */
    position: relative;
}


.icon-bar-left {
    display: flex;
    gap: 10px;
}

.icon-bar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icon-bar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-div {
    height: 56px;
    width: 56px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: none;
    z-index: 999;
}

.icon-div .icon-SVG {
    height: 26px;
    aspect-ratio: 1 / 1;
    transition: transform 300ms ease;
    z-index: 999;
}

.icon-SVG svg {
    color: black;
    z-index: 999;
}

.icon-text {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    background-color: rgb(85, 83, 83);
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 10px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 200ms ease, transform 200ms ease;
}

.icon-div:hover .icon-text,
.icon-div:focus-visible .icon-text {
    opacity: 1;
    transform: translateX(-50%) translateY(-15px);
}

.icon-div:hover .icon-SVG {
    transform: scale(1.2);
}

.icon-div:hover,
.icon-div:focus-visible {
    background-color: rgb(228, 228, 228);
    z-index: 1500;
}

.icon-div:active {
    opacity: 0.9;
}

/* .spacer {
    flex-grow: 1;
}

.divider {
    height: 40px;
    width: 2px;
    margin: 0 16px; 
    background-color: rgb(192, 192, 192);
    display: inline-block; 
} */

.trip-overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto 30px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;

}

.trip-overview-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-overview-circle {
    width: 50px;
    height: 50px;
    background-color: rgb(214, 213, 213);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.trip-overview-bag {
    width: 50px;
    height: 50px;
    background-color: rgb(214, 213, 213);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
}

#trip-locations-circle {
    width: 50px;
    height: 50px;
    background-color: rgb(214, 213, 213);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 13px;
}

.trip-overview-content p {
    margin: 5px 0 0;
    font-size: 17px;
    color: black;
}

.delete-icon:hover {
    color: rgb(255, 31, 31);
}

.delete-icon .icon-text {
    background-color: rgb(235, 5, 5);
}

.gallery-icon:hover {
    color: green;
}

.gallery-icon .icon-text {
    background-color: green;
}

.todo-icon:hover {
    color: rgb(60, 60, 247);
}

.todo-icon .icon-text {
    background-color: rgb(60, 60, 247);
}

.exchange-table-dropdown input,
.exchange-table-dropdown select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    font-size: 15px;
    transition: border-color 0.3s ease;
    text-align: center;
}


.expense-box ul {
    list-style-type: none;
    padding-left: 0;
}

.expense-box li {
    margin-bottom: 4px;
}

.expense-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    padding-right: 0px;
}

.upload-section {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.toggle-container {
    margin: 30px auto;
    gap: 20px;
}

.spending-circles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.circle-card {
    margin-top: -30px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 50%;
    width: 100%;
    width: 200px;
    max-width: 200px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.circle-card:nth-child(2) {
    max-width: 250px;
}

.circle-card-spending {
    font-size: 30px;
    font-weight: bold;
}

.circle-card-spending:nth-child(2) {
    font-size: 100px;
    color: #134a09;
}


@media (max-width: 768px) {
    .circle-card-spending {
        font-size: 24px;
    }

    .circle-card-spending:nth-child(2) {
        font-size: 80px;
    }
}

.above-budget {
    background-color: #c58c8c;
}

.below-budget {
    background-color: var(--lightergreen);
}

.expense-card-container {
    padding: 20px;
}

.card {
    transition: transform 0.2s;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .circle-card {
        max-width: 150px;
    }
}

.expense-container {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;

}


@media (max-width: 768px) {
    .expense-table-container {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    .exchange-rates-container {
        width: 65%;
        float: none;
        margin-right: 0;
        margin-top: 20px;
    }
}

.exchange-rate-table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .exchange-rate-table {
        max-width: 90%;
        font-size: 0.8em;
    }
}

.trip-card-highlight {
    animation: highlight 1.25s ease-out;
}

@keyframes highlight {
    0% {
        background-color: rgba(0, 255, 0, 0.3);
        /* Initial green highlight */
    }

    50% {
        background-color: rgba(0, 255, 0, 0.6);
        /* Midpoint green color */
    }

    100% {
        background-color: rgba(0, 255, 0, 0);
        /* Fade out */
    }
}

.modal.wide-form {
    width: 145%;
    height: 105%;
    transform: translate(-15%, 0%);

}

.favorite-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(123, 117, 117, 0.223);
    z-index: 3;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-top: 28px;
}

.favorite-icon:hover {
    background-color: rgba(123, 117, 117, 0.123);
    border-color: rgba(0, 0, 0, 0.8);
}


/* Expense suggestions styling */
.expense-suggestions-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    margin-bottom: 50px;
    width: fit-content;
}

.expenses-suggestions-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cards-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
}

.suggestion-card {
    transition: transform 0.2s;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    position: relative;
}

.suggestion-card:hover {
    transform: scale(1.05);
}

.add-suggestion-div {
    justify-content: flex-end;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

.add-suggestion-div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.arrow {
    padding: 3px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 2;
}

.arrow svg {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: scale(1.05);
    background-color: #f5f5f5;
}

.expense-name {
    font-weight: bold;
    text-align: center;
}

.expense-details {
    text-align: center;
    font-style: italic;
}

.expense-detail {
    margin: 0;
    padding: 0;
}


@media(max-width: 600px) {
    /* Homepage: map size */
    [style*="height: 537px"][style*="width: 85%"] {
        width: 100% !important;
    }

    /* Trip page: Edit expense fom sizing */
    .edit-expense-modal-content {
        max-width: 100% !important;
        max-height: 100%;
    }

    /* Trip page: Edit expense fomm edit btn */
    .submit-edit-expense-button {
        width: 60%;
    }

    /* Trip page: Edit expense fomm delete btn */
    .delete-expense-button {
        width: 60%;
        padding: 10%;
    }

    /* Trip page: expense table filter pop up size*/
    .applied-filter {
        white-space: wrap;
    }

    /* Trip page: expense table filter pop up x position */
    .clear-filter-btn {
        margin: -20px;
    }

    /* Trip pg: Exchange rate sizing and spacing */
    .exchange-rates-container {
        width: 90%;
        margin-bottom: 5%;
        margin-top: 0%;
    }

    /* Trip pg: Top Icon bar position*/
    .top-icon-bar-header {
        margin-left: -5%;
        margin-top: 5%;
        max-width: 0%;
    }

    /* Trip pg: Trip info title positon */
    .trip-info-title {
        padding-top: 5%;
    }

    /* Trip pg: overwiew size */
    .trip-overview {
        width: 102%;
    }

    /* Trip pg: overwiew item sizing */
    .trip-overview-div {
        min-width: 120px;
    }

    /* Trip pg: overwiew item buget positoning */
    .trip-overview-bag {
        margin-top: -45%;
    }

    /* Trip pg: overwiew item pin location positoning */
    #trip-locations-circle {
        margin-top: -40%;
        margin-left: -45%;
    }

    /* Trip pg: overwiew items pin location text positoning */
    .dropdown-container-pin{
        margin-right: 30%;
    }

    /* Trip pg: favorite icon positon */
    .favorite-icon {
        margin-top: 12%;
    }

    /* Trip pg: Spending circles position */
    .spending-circles-container {
        flex-direction: column;
        gap: 50px;
    }

    /* Trip page: expense table icon bar size*/
    .icon-bar-header {
        width: 100%;
        padding: 0px;
    }

    /* Trip page: expense table icon bar gap*/
    .icon-bar-left,
    .icon-bar-right {
        gap: 0px;
    }

    /* Trip page: expense table icon bar title*/
    .icon-bar-center {
        position: static;
        transform: none;
        margin-top: 10px;
        width: 100%;
    }
    

    /* Trip pg: Expense suggestions position */
    .expense-suggestions-container {
        width: 100%;
    }

     /* Trip pg: Expense suggestions cards position */
    .cards-container {
        max-width: 50%;
    }
}

/* Trip page: Edit expense fomm edit btn
@media(max-width: 600px) {
    .submit-edit-expense-button {
        width: 70%;
    }
} */

@media(min-width: 1600px) {
    /* Trip pg: pi chat, bar graph and meter's containers size */
    .toggle-container {
        width: 89%;
    }

    /* Trip pg: bottom icon bar size*/
    .icon-bar-header {
        width: 80%;
    }

    /* Trip pg: the whole trip page size */
    .trip-pg-contanier{
        transform-origin: top center ; 
        transform: scale(1.1);
    }

    /* Trip pg: edit expense form postion */
    .edit-expense-modal {
        top: 10%;
    }

    /* Trip pg: edit expense form postion */
    .new-expense-modal{
        top: 10%;
    }

}

@media(min-width: 2000px) {
    /* Trip pg: pi chat, bar graph and meter's containers size */
    .toggle-container {
        width: 70%;
    }

    /* Trip pg: bottom icon bar size*/
    .icon-bar-header {
        width: 65%;
    }

    /* Trip pg: the whole trip page size */
    .trip-pg-contanier{
        transform-origin: top center ; 
        transform: scale(1.4);
    }

     /* Trip pg:  edit expense form size */
    .edit-expense-modal-content {
        max-width: 30% !important;
    }

}

@media(min-width: 2600px) {
    /* Homepage: map size */
    [style*="height: 537px"][style*="width: 85%"] {
        width: 125% !important;
    }

    /* Trip pg: pi chat, bar graph and meter's containers size */
    .toggle-container {
        width: 53%;
    }

    /* Trip pg: bottom icon bar size*/
    .icon-bar-header {
        width: 50%;
    }

    /* Trip pg: the whole trip page size */
    .trip-pg-contanier{
        transform-origin: top center ; 
        transform: scale(1.8);
    }

    /* Trip pg:  edit expense form size */
    .edit-expense-modal-content {
        max-width: 25% !important;
    }

}