.trips-display {
    padding: 10px;
    color: black;
    height: auto; 
    text-align: center;
    border-radius: 8px;
    margin: 20px auto;
    width: 100%; /* Full width */
}

.trip-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 15px; /* Space between cards */
}

.trips-display-card {
    padding: 10px;
    border-radius: 10px !important;
    display: flex;
    flex-direction: column;
    background-color: var(--offwhite);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: left;
}

.trips-display-image-wrapper {
    width: 100%;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
}

.trips-display-image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorite-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;  
    height: 30px;  
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(123, 117, 117, 0.488);  
    z-index: 3; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.favorite-icon:hover {
    background-color: rgba(255, 255, 255, 0.8); 
    border-color: rgba(0, 0, 0, 0.8); 
}

.search-bar {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2); 
    color: rgba(128, 128, 128, 1);
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-input::placeholder {
    color: rgba(128, 128, 128, 0.7);
}

.search-input:focus {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(0, 0, 0, 0.3);
}