.trips-display {
    padding: 10px;
    color: black;
    height: auto; 
    text-align: center;
    border-radius: 8px;
    margin: 20px auto;
    width: 100%; /* Full width */
}

.trip-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 15px; /* Space between cards */
}

.trips-display-card {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--offwhite);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: left;
}

.trips-display-image-wrapper {
    width: 100%; /* Set the desired width */
    height: 120px; /* Set the desired height */
    overflow: hidden; /* Ensure anything overflowing is hidden */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    border-radius: 8px; 
}

.trips-display-image-wrapper img {
    max-width: 100%; /* Ensure image does not exceed wrapper width */
    max-height: 100%; /* Ensure image does not exceed wrapper height */
    object-fit: contain; /* Maintain aspect ratio and fit within the frame */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
